<launch>
  <!-- Launch camera.sh script -->
  <!-- Launch the RealSense2 camera node with specified parameters -->
  <include file="$(find wp5_perception)/launch/intelrealsens.launch">
  </include>


  <!-- Launch target_extraction.py script -->
  <node name="target_extraction" pkg="wp5_perception" type="target_extraction.py" output="screen" />

</launch>
